# CodeIgniter 3
application/cache/*
application/logs/*
!application/logs/index.html
application/views/frontend/index.php
# Composer vendor
/vendor/

# Environment
.env
.env.*

# IDE / Editor
/.idea/
/.vscode/
/*.sublime-workspace
/*.sublime-project
application/config/database.php
application/config/config.php
cekphp.php
index.php
router.php
# System files
*.DS_Store
Thumbs.db

#untuk ubuntu
.htaccess 
index.php
.gitignore
# Upload folders (opsional)
uploads/*
assets/uploads/*

*.zip
f_annamiroh.zip
error_log
